* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Home Page */
header {
    display: flex;
    padding: 30px 80px;
    justify-content: space-between;
    background-color: aquamarine;
}

header ul {
    display: flex;
}

header ul li {
    text-decoration: none;
    list-style: none;
    padding-right: 100px;
}

header ul li:nth-child(4) {
    padding-right: 0px;
}

header ul li:hover {
    color: #fff;
    cursor: pointer;
}

/* Login Form */

.login-form {
    width: 500px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 20px;
    margin: 50px auto;
    padding: 50px;
}

form .form-vaue {
    display: block;
    padding: 20px;
}

form .form-vaue input {
    display: block;
    width: 100%;
}